<section id="metrics">
  @if (!isloadingMetrics()) {
    <img [src]="portraitUrl" [attr.alt]="imageAlt" width="300" height="300" />

    <div id="title-and-slogan">
      <h2>{{ pokemon().name }}</h2>
      <p>{{ pokemon().slogan }}</p>
      <p>Operating margin: {{ pokemon().operatingMarginPercent }}%</p>
      <p>
        Last:
        @if (lastTransaction()) {
          <app-poke-dollars
            [amount]="lastTransaction()!.sharePricePokeDollars"
          />
        } @else {
          <i>not found</i>
        }
      </p>
      <p>
        Bid:
        @if (highestBid()) {
          <app-poke-dollars [amount]="highestBid()!.sharePricePokeDollars" />
        } @else {
          <i>not found</i>
        }
      </p>
      <p>
        Ask:
        @if (lowestAsk()) {
          <app-poke-dollars [amount]="lowestAsk()!.sharePricePokeDollars" />
        } @else {
          <i>not found</i>
        }
      </p>
      <p>Total shares: {{ pokemon().totalShares }}</p>
      <p>
        Available shares:
        @if (availableShares() !== null) {
          {{ availableShares() }}
        } @else {
          <i>not found</i>
        }
      </p>
      <p>
        Market cap:
        @if (marketCap) {
          <app-poke-dollars [amount]="marketCap" />
        } @else {
          <i>not found</i>
        }
      </p>
    </div>
  } @else {
    <app-loader></app-loader>
  }
</section>

<div id="pokemon-position-container">
  <app-pending-transaction
    [pokemon]="pokemon()"
    [pendingTransaction]="pendingTransaction()"
    [isloading]="isLoadingPendingTransaction()"
    (cancelTransaction)="cancelTransaction()"
  ></app-pending-transaction>
  <app-pokemon-position
    [position]="position()"
    [lastTransaction]="lastTransaction()"
    [loading]="isLoadingPosition()"
  ></app-pokemon-position>
</div>
