<section id="current-transactions">
  @if (!isloading()) {
    @if (!pendingTransaction()) {
      <div id="start-transaction">
        <h3>Start a transaction</h3>
        <button (click)="gotoBuy()">Buy</button>
        <button (click)="gotoSell()">Sell</button>
      </div>
    }

    <div id="current-transaction">
      @if (pendingTransaction()) {
        <h3>Your Current {{ pendingTransactionType | titlecase }}</h3>
        <p>
          Price per share:
          <app-poke-dollars
            [amount]="pendingTransaction()!.sharePricePokeDollars"
          />
        </p>
        <p>Shares: {{ pendingTransaction()?.shareCount }}</p>
        <p>
          Total cost:
          <app-poke-dollars
            [amount]="pendingTransaction()!.totalCostPokeDollars"
          />
        </p>
        <button (click)="cancelTransaction.emit()">Cancel</button>
      }
    </div>
  } @else {
    <app-loader></app-loader>
  }
</section>
