section {
  padding: 10px;
  border: 1px solid #e0e0e0;
}

#metrics {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

#current-transactions {
  app-loader {
    display: block;
    height: 200px;
    width: 200px;
  }
}

#start-transaction {
  button {
    margin-left: 10px;
  }
}
