<section id="metrics">
  @if (!isloading()) {
    <img [src]="portraitUrl" [attr.alt]="imageAlt" width="300" height="300" />

    <div id="title-and-slogan">
      <h2>{{ pokemon().name }}</h2>
      <p>{{ pokemon().slogan }}</p>
      <p>Operating margin: {{ pokemon().operatingMarginPercent }}%</p>
      <p>Last: <app-poke-dollars [amount]="pokemon().lastTradePokeDollars" /></p>
      <p>Bid: <app-poke-dollars [amount]="pokemon().bidPokeDollars" /></p>
      <p>Ask: <app-poke-dollars [amount]="pokemon().askPokeDollars" /></p>
      <p>Total shares: {{ pokemon().totalShares }}</p>
      <p>Available shares: {{ pokemon().availableShares }}</p>
      <p>Market cap: <app-poke-dollars [amount]="pokemon().marketCapPokeDollars" /></p>
    </div>
  } @else {
    <app-loader></app-loader>
  }
</section>

@if (!isloading()) {
  <section id="current-transactions">
    <div id="start-transaction">
      @if (!bid()) {
        <button (click)="startBid()">Bid</button>
      }
      @if (!bid() && pokemon().availableShares > 0) {
        <button (click)="startAsk()">Ask</button>
      }
    </div>

    <div id="current-bid">
      @if (!cancellingBid() && bid()) {
        <h3>Your Current Bid</h3>
        <p>Price per share: <app-poke-dollars [amount]="bid()!.pricePerSharePokeDollars" /></p>
        <p>Shares: {{ bid()?.shareAmount }}</p>
        <p>Total cost: <app-poke-dollars [amount]="bid()!.totalCostPokeDollars" /></p>
        <button (click)="cancelBid()">Cancel</button>
      }
      @if (cancellingBid() && bid()) {
        <app-loader></app-loader>
      }
    </div>
  </section>
}
