<div id="header">
  <h1>
    <a [routerLink]="'/'" (click)="searchInput.value = ''; searchResults.set([])"> Pokestonks </a>
  </h1>
  <div>
    <p>Welcome, {{ currentUser().username }}</p>
  </div>
</div>

<form>
  <input
    type="text"
    placeholder="Search for a Pokemon"
    (input)="onSearchChange($any($event.target)?.value)"
    #searchInput
  />
  <ul>
    @for (pokemon of searchResults(); track pokemon.key) {
      <li>
        <a [routerLink]="['/pokemon', pokemon.key, 'metrics']">{{ pokemon.name }}</a>
      </li>
    }
  </ul>
</form>
<router-outlet />
